
{% extends 'base.html' %}

{% block tittle%}Proyectos{% endblock %}

{% block content %}
<ul>
    {% for proj in object_list %}
        <ul class="container">
            <!-- Pernogom -->
            <li><h2><strong>{{proj.titulo}}</strong></h2></li>
            <h6><strong>Lenguaje:</strong> {{proj.lenguaje}}</h6>
            <h6><strong>Link:</strong> {{proj.link}}</h6>
            <div class="container">
                <small>
                    <p>
                        {{ proj.descripcion }}
                    </p>
                </small>
            </div>
        </ul>
        <hr>
    {% endfor %}
</ul>


{% endblock %}