
{% extends 'base.html' %}
{% load static %}

{% block tittle%}Home{% endblock %}

{% block content %}
<!-- ======= Header ======= -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">FullStack Developer Junior</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Con conocimientos de lenguajes de desarrollo web y escritorio, también familiarizado con Frameworks y librerias tales como:  Django, Angular y ReactJS (básico)</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                    <a href="https://github.com/olbapDev/" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                        <span>GitHub</span>
                        <i class="bi bi-arrow-right"></i>
                    </a>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{% static 'assets/img/logo-pg-principal.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

<!-- ======= About Section ======= -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h2>Información sobre mi</h2>
                        <p>
                            Gracias a la formación entregada por Duoc UC, considero que puedo aportar valor y seguir desarrollandome
                            profesionalmente en una compañía que coincida con mis intereses y conocimientos.
                            Como persona organizada y con gran motivación, soy capaz de adaptarme a cualquier circunstancia y dar siempre lo mejor de mi en proyetos, al mismo
                            tiempo me esfuerzo por trabajar en equipo y fomentar valores como el compañerismo. 
                        </p>
                        <div class="text-center text-lg-start">
                            <a href="{% url 'interes' %}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Intereses</span>
                            <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>

                </div>
            </div>

        </section><!-- End About Section -->

{% endblock %}

