{% extends 'base.html' %}

{% block tittle %}Contactame!{% endblock %}

{% block content %}


    <div class="container">

        <header class="section-header">
        
        <p>Contactame</p>
        </header>

        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Dirección</h3>
                            <p>Alberto blest gana # 756<br>El Bosque, Santiago.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-telephone"></i>
                            <h3>Teléfono</h3>
                            <p>+56954013329</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-envelope"></i>
                            <h3>Envíame un email</h3>
                            <p>pa.garrido.cid@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                        <i class="bi bi-clock"></i>
                        <h3>Disponibilidad</h3>
                        <p><strong>Inmediata</strong></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="form-control">
                        <form method='POST'>
                            {% csrf_token %}
                            {{form.as_p}}
                            <center><button class="btn btn-secondary">Enviar</button></center>

                        <br/>
                    

                    
                </div>

            </div>

        </div>

    </div>

    
{% endblock %}
